body {
  color: #e5e5e5;
  background-image: url(/images/background.jpg);
  background-attachment: fixed;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

.btn-warning{
  background-color: #CCAC00;
  margin-bottom: 1em;
}

  .btn-warning:hover{
    background-color: #B79A00;
  }

h1{
  font-size: 100px;
  text-align: center;
  padding: 0.5em;
}
h4{
  line-height: 130%;
  font-size: 22pt;
  padding: 2em 4em;
}
.remodal-close{
  left:auto;
  right:5px;
}

/* Mugs! */
.mug-wrapper{
  display:inline-block;
  margin: 15px;
  border:5px solid #CCAC00;
  border-radius: 5px;
}
.mug-img{
  height:200px;
  width: 200px;
  cursor: pointer;
}
.spacer{
  padding-top: 70px;
}

.mug-info-header{
  font-size: 24pt;
  color:black;
  padding-bottom: 1em;
}
.mug-info-desc{
  color:black;
}