<div class="container">
  <div class="row">
    <div class="col-md-7">
      <h2>This is our mug rack.</h2><br/>
      <h4>
        It was our first project together, and dare I say most successful.  We've filled this rack time and again with treasures found in the depths of thrift stores and in places far from home.  Some are funny, some are heartfelt, and all tell a story. 
        <br/><br/>
        We'd like to share our mug collection with you.
      </h4>
      <h4><h4>
    </div>
    <div class="col-md-5">
      <img src="/images/mug_rack.png" width="100%" height="100%" />
    </div>
  </div>
</div>
<br/>
<br/>
<br/>
<br/>
<div class="container-fluid mug-preview">
  <marquee loop="infinite">
    <img src="/images/Mugs/Mug_1.jpg" width="170" height="170" />
    <img src="/images/Mugs/Mug_1.jpg" width="170" height="170" />
    <img src="/images/Mugs/Mug_1.jpg" width="170" height="170" />
    <img src="/images/Mugs/Mug_1.jpg" width="170" height="170" />
    <img src="/images/Mugs/Mug_1.jpg" width="170" height="170" />
    <img src="/images/Mugs/Mug_1.jpg" width="170" height="170" />
  </marquee>
</div>