<h1>This is our mug rack.</h1>
<div>
	<h4>
	  It was our first project together, and dare I say most successful.  We've filled this rack time and again with treasures found in the depths of thrift stores and in places far from home.  Some are funny, some are heartfelt, and all tell a story. 
	  <br/><br/>
	  We'd like to share our mug collection with you.
	</h4>
</div>
	
<div style="text-align:center">
	<a href="#/mugs">
		<button class="btn btn-warning btn-lg" title="View Collection">
			View Collection
			<i class="fa fa-coffee"></i>
		</button>
	</a>
</div>