<div class="spacer"></div>

<div style="text-align:center">
	<a href="#/">
		<button class="btn-lg btn">Home</button>
	</a>
</div>

<div class="spacer"></div>

<div class="row-fluid">
	<div class="col-sm-10 col-sm-offset-1">
		<div class="mug-wrapper" ng-repeat="mug in MugsList">
			<img class="mug-img" ng-src="{{mug.URL}}" height="250" width="250" ng-click="openMugInfo(mug.URL, mug.Name, mug.Description)">
		</div>
	</div>
</div>

<!-- Modal mug info div -->
<div class="modal-dialog" id="divMugInfo">
	<div>
		<div title="Close" class="close" ng-click="closeMugInfo()">X</div>
		<div class="row">
			<div class="col-sm-5">
				<img id="imgMugInfo" src="" height="250" width="250" class="mug-info-img">
			</div>
			<div class="col-sm-6 col-sm-offset-1">
				<div id="divMugInfo_Name" class="mug-info-header"></div>
				<span id="lblMugInfo_Desc" class="mug-info-desc"></span>
			</div>
		</div>
	</div>
</div>